[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://github.com/Quick/Nimble.git
	branch = 7.x-branch
[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/AlamofireObjectMapper"]
	path = Carthage/Checkouts/AlamofireObjectMapper
	url = https://github.com/tristanhimmelman/AlamofireObjectMapper.git
[submodule "Carthage/Checkouts/ObjectMapper"]
	path = Carthage/Checkouts/ObjectMapper
	url = https://github.com/tristanhimmelman/ObjectMapper.git
